<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathToDatabase" value="D:/temp/RavenDB/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ScoreBoardServer.ScoreBoardService">
        <endpoint address="http://127.0.0.1:9876/"
                  binding="basicHttpBinding"
                  contract="ScoreBoardServer.IScoreBoard" />
      </service>
    </services>
  </system.serviceModel>
</configuration>